<footer id="alt-rodape" class="transition">
  <div class="alt-direitos-reservados pull-left hidden-xs">
    <span>© 1989-<span id="alt-ano-atual"></span> - Alterdata Software - Direitos Reservados</span>
    <script>
    document.getElementById('alt-ano-atual').innerText = new Date().getFullYear();
    </script>
  </div>

  <div class="alt-logo-alterdata">
    <div class="text-right hidden-xs alt-hand">
      <div class="alt-redirecionamentos-rodape">

        <a class="pull-right alt-espacamento-left" href="http://alterdata.com.br" target="_blank">
          <img src="/comum/images/logo_branco.png"/>
        </a>

        <div class="alt-links-aux-alterdata pull-right">
          <a href="http://www.alterdata.com.br/contato" target="_blank">
            <span>Contato</span>
          </a>

          <span class="alt-separador-redirecionamentos-rodape">|</span>

          <a href="http://cliente.alterdata.com.br/LoginCentral.aspx" target="_blank">
            <span>Suporte</span>
          </a>
        </div>
      </div>
    </div>

    <a class="text-center visible-xs alt-hand" href="http://alterdata.com.br" target="_blank">
      <img src="./comum/images/logo_branco.png" />
    </a>

  </div>
</footer>
