<header class="header" id="alt-cabecalho" ng-controller="CabecalhoController as cCtrl">
  <div class="navbar navbar-default alt-sombra-primaria" role="navigation">
    <div>
      <div class="alt-informacoes-usuario-container dropdown alt-hand pull-right alt-espacamento-left">
        <img ng-src="{{cCtrl.usuario.avatar}}"
        alt="imagem"
        class="alt-imagem-usuario-cabecalho alt-hand"
        data-toggle="dropdown"/>

        <div class="dropdown-menu">
          <div id="alt-informacoes-usuario-dropdown">
            <div class="col-xs-4 hidden-xs row">
              <img ng-src="{{cCtrl.usuario.avatar}}"
              alt="imagem"
              class="alt-imagem-usuario-dropdown" />
            </div>

            <div class="col-xs-12 visible-xs text-center">
              <img ng-src="{{cCtrl.usuario.avatar}}"
              alt="imagem"
              class="alt-imagem-usuario-dropdown" />
            </div>

            <hr class="visible-xs col-xs-12 alt-hr-separador-info" />

            <div class="col-xs-8 hidden-xs">
              <p ng-bind="cCtrl.usuario.nomeUsuario"></p>
              <small class="text-muted" ng-bind="cCtrl.usuario.emailUsuario"></small>
            </div>

            <div class="col-xs-12 visible-xs text-center">
              <p ng-bind="cCtrl.usuario.nomeUsuario"></p>
              <small class="text-muted" ng-bind="cCtrl.usuario.emailUsuario"></small>
            </div>

            <hr class="visible-xs col-xs-12 alt-hr-separador-info" />

            <hr class="hidden-xs col-xs-12 alt-hr-separador-info" />

            <button type="button" 
                    ng-click="cCtrl.redirecionaLogout(cCtrl.SISTEMA_ADMIN_URL_LOGOUT)"
                    class="btn btn-default pull-right hidden-xs">Sair</button>

            <button type="button"
                    ng-click="cCtrl.redirecionaLogout(cCtrl.SISTEMA_ADMIN_URL_LOGOUT)"
                    class="btn btn-default btn-block visible-xs alt-clear-both">Sair</button>

          </div>
        </div>

      </div>

      <div class="alt-opcoes-usuario-container dropdown pull-right">
          <div class="alt-opcoes-usuario-cabecalho alt-hand"
               data-toggle="dropdown">
                  <span class="alt-opcoes-usuario-cabecalho">
                 <i class="fa fa-fw fa-cubes alt-icone-opcoes-usuario-cabecalho"></i>
               </span>
          </div>

          <div class="dropdown-menu">
              <div class="alt-opcoes-usuario-dropdown listagem-produtos-cabecalho">
                  <div id="produtos-cabecalho-container" class="alt-produtos-usuario-cabecalho-container">
                      <a class="col-xs-12 col-sm-6 col-lg-4 text-center alt-hand alt-produto-cabecalho"
                         ng-repeat="prod in cCtrl.produtos.habilitados track by $index"
                         ng-href="{{prod.urlAutenticacao}}" 
                         target="_blank">
                          <img class="alt-imagem-pequena" ng-src="{{prod.urlLogo}}" />
                          <p class="text-muted" ng-bind="prod.nome"></p>
                      </a>
                  </div>
              </div>
          </div>

      </div>
      
      <alt-rota-reload></alt-rota-reload>
    </div>

    <div class="navbar-header">
        <a class="navbar-brand" href="/">Sistema - Admin</a>
    </div>

  </div>
</header>
